:root {
    --cor-azul-claro: #48c5ce;
    --cor-branca: #fff;
    --cor-fundo-escuro: #000;
    --cor-fundo-form: #ffffffbb;
    --cor-fundo-palestrante: #202121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--cor-fundo-escuro);
}

.cabecalho {
    background-color: var(--cor-azul-claro);
    max-width: 924px;
    margin: 0 auto;
}

.cabecalho__titulo {
    color: var(--cor-branca);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    padding: 0.8rem;
}

main {
    max-width: 924px;
    margin: 0 auto;
}

.container {
    background-image: url('../img/people.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

.container__form {
    background-color: var(--cor-fundo-form);
    max-width: 230px;
    padding: 1.2rem;
    margin: 1.2rem;
    border-radius: 0.2rem;
}

.container__form-titulo {
    font-size: 1rem;
    text-transform: uppercase;
}

.container__form-paragrafo {
    margin: 0.8rem 0;
}

.container__form-form-campos {
    width: 100%;
    padding: 0.4rem;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
}

.container__form-form-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../img/arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

.container__form-form-botao {
    background-color: var(--cor-azul-claro);
    text-transform: uppercase;
    color: var(--cor-branca);
    font-weight: bold;
    border: 1px solid var(--cor-azul-claro);
}

.container__form-form-botao:hover {
    background-color: var(--cor-fundo-form);
    border: 1px solid var(--cor-azul-claro);
    color: var(--cor-azul-claro);
}

.palestrante {
    background-color: var(--cor-fundo-palestrante);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.palestrante .palestrante__img {
    width: 160px;
    margin-left: 0.5rem;
}

.palestrante .palestrante__conteudo {
    color: var(--cor-branca);
    max-width: 300px;
    margin-left: 3rem;
    margin-right: 0.5rem;
}

.palestrante .palestrante__conteudo .palestrante__conteudo-titulo {
    font-size: 1.2rem;
}

.palestrante .palestrante__conteudo .palestrante__conteudo-paragrafo {
    margin: 0.8rem 0;
}

@media screen and (max-width: 523px) {
    .palestrante .palestrante__conteudo {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        justify-content: center;
    }
}